
{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;">
  <h1>Rewards</h1>
</div>
<h5 style="text-align: center; line-height: 50px;">
  Earn 50 points each Time you Order 
</h5>
<h5 style="text-align: center; line-height: 50px;">
  Spend Points to Unlock Rewards 
</h5>

<div class = "reward-container">
    {% for reward in rewards %}
     <div class = "reward-items">
      <img class="reward-image" src="{{reward.image_url}}">
        <h6 class="inconsolata">{{reward.name}}</h6> 
              <p class="inconsolata">Points: {{reward.points}}</p>
      <!-- <button onclick="openPopup(this)" data-reward-name ="{{reward.name}}">Claim Reward</button>  -->
     </div>
    
     {% endfor %}
    </div>





  <div id="popup" class="popup">
    <button class = "closeBtn" onclick="closePopup()">&times;</button>
    <h3>Reward</h3>
    <p>Your reward has been claimed</p>
  </div>




{% endblock %}