


.carousel-container {
  height: 60vh;
 
}

.carousel-container img {
  height: 60vh;
   position: absolute; 
  left: 50%;
  top: -12%;
  transform: translate(-50%, 50%); 

  opacity: 0;
  transition: opacity 2s ease-in-out;

}

.carousel-container img.showing {
  opacity: 1;

}

