


  
  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #1d2951;
    height: 30dvh;
    color: white;
   
  }

  .footer p {
 
    font-size: 15px;
    line-height: 20px;
    
  }

  .footer h5 {
    margin-top: 20px;
    margin-bottom: 15px;
  }