<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cafe </title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


    
    {% load static %}
    <link href="{% static 'popup.css'%}" rel="stylesheet">
    <link href="{% static 'footer.css'%}" rel = "stylesheet">
    <link href ="{% static 'employ.css'%}" rel="stylesheet">
    <link href="{% static 'fontStyles.css'%}" rel="stylesheet">
    <link href="{% static 'mainPage.css'%}" rel="stylesheet">
    <link href="{% static 'menu.css'%}" rel="stylesheet">
    <link href="{% static 'reward-page.css' %}" rel="stylesheet">
    <link href="{% static 'welcome-page.css' %}" rel="stylesheet">
    <script src="{% static 'scripts/popup.js'%}"></script> 
    <script src="{% static 'scripts/menuloader.js'%}"></script> 
    <script src="{% static 'scripts/jquery.js'%}"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="{% static 'data/data.json'%}" rel="json">
    




  </head>
  <body>

      <div class = "navigation">
        <a href="{% url 'home' %}">Cafe</a>
        <a href="{% url 'menu' %}">Menu</a>
        <a href="{% url 'rewards' %}">Rewards</a>
        <a href="{% url 'employ' %}">Employment</a>
      </div>
   

   
    {% block content %}
    {% endblock %}
    <div class ="footer inconsolata" style="text-align: center; margin-top: 100px">
      <div>
        <h5>Information</h5>
        <p>Phone:1111111</p>
        <p>Address:Auckland</p>
        <p>Email:Cafe@Gmail.com</p>
        <p>Open:Mon-Fri, 7 Am - 4 pm</p>
      </div>
      <div>
        <h5>About</h5>
        <p>Established:1900</p>
        <p>Cafe Newsletter</p>
        <p></p>
      </div>
      <div>
      <h5>Socials</h5>
      <img src = "{% static 'images/instagram.svg' %}">
      <img src = "{% static 'images/facebook.svg'%}">
      <img src = "{% static 'images/twitter.svg'%}">
      <img src = "{% static 'images/youtube.svg'%}">
      </div>
    </div>
  </body>
</html>